[Unit]
Description=Periodically triggers computation and upload of Dythera results
After=network.target

[Timer]
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
